{% extends 'base.html.twig' %}
{% block title %} Главная {% endblock %}
{% block main %}
    <div class="wrapper-list-quiz">
        <div class="list_quiz__title">
            {#{% for user in username %}#}
                {#<div class="comment">{{ username }}</div>#}
            {#{% endfor %}#}
            <h2>Список викторин</h2>
        </div>
        <div class="list__quiz">
            <div class="list__quiz-item">
                <p class="list__quiz-item__title">Название викторины</p>
                <div class="wrapper-status">
                    <div class="list__quiz-item__status">
                        Активна
                    </div>
                    <div class="status-green"></div>
                </div>
                <button type="button">Участвовать</button>
            </div>
            <div class="list__quiz-item">
                <p class="list__quiz-item__title">Название викторины</p>
                <div class="wrapper-status">
                    <div class="list__quiz-item__status">
                        Активна
                    </div>
                    <div class="status-green"></div>
                </div>
                <button type="button">Участвовать</button>
            </div>
            <div class="list__quiz-item">
                <p class="list__quiz-item__title">Название викторины</p>
                <div class="wrapper-status">
                    <div class="list__quiz-item__status">
                        Активна
                    </div>
                    <div class="status-green"></div>
                </div>
                <button type="button">Участвовать</button>
            </div>
        </div>
    </div>
{% endblock %}
