{% extends 'base.html.twig' %}
{% block title %} Панель администратора {% endblock %}
{% block main %}
    <div class="wrapper-panel">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Пользователи</a>
            </li>
            {#<li class="nav-item">#}
                {#<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Добавить викторину</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" id="answer-tab" data-toggle="tab" href="#answer" role="tab" aria-controls="answer" aria-selected="false">Добавить ответы</a>#}
            {#</li>#}
        </ul>
        <div class="tab-content p-2" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="tab-pane-wrapper">
                    <p class="title-tab-pane">Список пользоваталей</p>
                </div>
                <div class="list-users">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя пользователя</th>
                            <th scope="col">Email</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Роли</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 0 %}
                        {% for user in users %}
                            {% if (user.username) != 'admin' %}
                                {% if (user.status) == '1' %}
                                        {% set status %}
                                            <div class="pulse" data-status="running">
                                                <div class="status-true">
                                                </div>
                                            </div>
                                        {% endset %}
                                    {% elseif (user.status) == '0' %}
                                        {% set status %}
                                            <div class="pulse" data-status="running">
                                                <div class="status-false">
                                                </div>
                                            </div>
                                        {% endset %}
                                        {% endif %}
                                {% set count = count + 1 %}
                                <tr>
                                    <th scope="row">{{ count }}</th>
                                    <td> {{ user.username }} </td>
                                    <td> {{ user.email }} </td>
                                    <td class="td-status"> {{ status }} </td>
                                    <td> {{ user.roles|json_encode }} </td>
                                    <td>
                                        <a href="{{ path('delete', {'id': user.id}) }}">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {% if (user.status) == '1' %}
                                        <a href="{{ path('update', {'id': user.id}) }}">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </a>
                                        {% endif %}
                                        {% if (user.status) == '0' %}
                                        <a href="{{ path('update', {'id': user.id})}}">
                                            <i class="fa fa-unlock" aria-hidden="true"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {#<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">#}
                {#{% import _self as formMacros %}#}
                {#{% macro printQuestions(questions) %}#}
                    {#<div class="js-question-item">#}
                        {#<a href="#" class="js-remove-question pull-right">#}
                            {#<span class="fa fa-close"></span>#}
                        {#</a>#}
                        {#{{ form_row(questions.title) }}#}
                    {#</div>#}
                {#{% endmacro %}#}
                {#{{ form_start(form) }}#}
                {#{{ form_row(form.name) }}#}
                {#<h4>Вопросы</h4>#}
                {#<div class="questions js-question-wrapper"#}
                     {#data-prototype="{{ formMacros.printQuestions(form.questions.vars.prototype)|e('html_attr') }}"#}
                     {#data-index="{{ form.questions|length }}">#}
                    {#{% for questions in form.questions %}#}
                        {#{{ formMacros.printQuestions(questions) }}#}
                    {#{% endfor %}#}
                    {#<a href="#" class="js-question-add">#}
                        {#<span class="fa fa-plus-circle"></span>#}
                        {#Добавить вопрос#}
                    {#</a>#}
                {#</div>#}
                {#{{ form_widget(form.questions) }}#}
                {#{{ form_end(form) }}#}
            {#</div>#}
            {#<div class="tab-pane fade" id="answer" role="tabpanel" aria-labelledby="answer-tab">#}
                {##}
                {#{% import _self as formMacrosAnswer %}#}
                {#{% macro printAnswers(answers) %}#}
                    {#<div class="js-answer-item">#}
                        {#<a href="#" class="js-remove-answer pull-right">#}
                            {#<span class="fa fa-close"></span>#}
                        {#</a>#}
                        {#{{ form_row(answers.text) }}#}
                        {#{{ form_row(answers.isCorrect) }}#}
                    {#</div>#}
                {#{% endmacro %}#}
                {#{{ form_start(formAnswer) }}#}
                {#{{ form_row(formAnswer.title, #}{#}#}
                    {#'attr': {'class': 'form-control'}}) }}#}
                {#<h4 class="mt-4">Ответы</h4>#}
                {#<div class="answers js-answer-wrapper"#}
                     {#data-prototype="{{ formMacros.printAnswers(formAnswer.answers.vars.prototype)|e('html_attr') }}"#}
                     {#data-index="{{ formAnswer.answers|length }}">#}
                    {#{% for answers in formAnswer.answers %}#}
                        {#{{ formMacros.printAnswers(answers) }}#}
                    {#{% endfor %}#}
                    {#<a href="#" class="js-answer-add">#}
                        {#<span class="fa fa-plus-circle"></span>#}
                        {#Добавить ответ#}
                    {#</a>#}
                {#</div>#}
                {#{{ form_widget(formAnswer.answers) }}#}
                {#{{ form_end(formAnswer) }}#}
            {#</div>#}
        </div>
    </div>
{% endblock %}