{% extends 'base_login-system.html.twig' %}
{% block title %}Авторизация{% endblock %}
{% block body %}
    <div class="wrapper-container">
        <div class="container">
            <div class="row row-block">
                <div class="col-md-10 m-auto">
                    <div class="login-wrap">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">{{ error.messageKey }}</div>
                        {% endif %}
                        <h2>Авторизация</h2>
                        <div class="form">
                            {{ form_start(form, {'action': path('login'), 'method': 'POST'}) }}
                            {{ form_row(form._email) }}
                            {{ form_row(form._password) }}
                            <small class="form-text text-muted input-label-password"><a href="{{ path('forget') }}">Забыли пароль?</a></small>
                            {{ form_end(form) }}
                            <a href="{{ path('register') }}"><p> Еще нет аккаунта? Регистрация</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}