$blue: #3498db;
$white: #f8f9fa;
html,
body{
  height: 100%;
  background: #95a5a6 url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png);

}
html {
  font-family: 'Helvetica Neue', Arial, Sans-Serif, serif;
  .login-wrap {
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;

    h2 {
      text-align: center;
      font-weight: 200;
      font-size: 2em;
      margin-top: 10px;
      color: #34495e;
    }

    .form {
      padding-top: 20px;
      input[type="text"],
      input[type="password"],
      input[type="email"],
      button {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 25px;
        height: 40px;
        border-radius: 5px;
        outline: 0;
        -moz-outline-style: none;
      }
      .button_password{
        margin-bottom: 0 !important;
      }
      .input-label-password{
        margin-left: 11%;
        margin-top: 10px;
        margin-bottom: 25px;
      }
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        border: 1px solid #bbb;
        padding: 0 0 0 10px;
        font-size: 14px;
        &:focus {
          border: 1px solid #3498db;
        }
      }

      a {
        text-align: center;
        font-size: 10px;
        color: #3498db;

        p{
          padding-bottom: 10px;
        }

      }

      button {
        background: #e74c3c;
        border:none;
        color: white;
        font-size: 18px;
        font-weight: 200;
        cursor: pointer;
        transition: box-shadow .4s ease;

        &:hover {
          box-shadow: 1px 1px 5px #555;
        }

        &:active {
          box-shadow: 1px 1px 7px #222;
        }

      }

    }

    &:after{
      content:'';
      position:absolute;
      top: 0;
      left: 0;
      right: 0;
      background:-webkit-linear-gradient(left,
              #27ae60 0%, #27ae60 20%,
              #8e44ad 20%, #8e44ad 40%,
              #3498db 40%, #3498db 60%,
              #e74c3c 60%, #e74c3c 80%,
              #f1c40f 80%, #f1c40f 100%
      );
      background:-moz-linear-gradient(left,
              #27ae60 0%, #27ae60 20%,
              #8e44ad 20%, #8e44ad 40%,
              #3498db 40%, #3498db 60%,
              #e74c3c 60%, #e74c3c 80%,
              #f1c40f 80%, #f1c40f 100%
      );
      height: 5px;
      border-radius: 5px 5px 0 0;
    }

  }

}
.wrapper-container{
  height: 100%;
  display: flex;
  align-items: center;
}
.row-block {
  margin: auto;
  height: 450px;
  width: 500px;
  background: #95a5a6 url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png);
  border-radius: 20px;
}
.nav-item{
  border-bottom: 3px #f8f9fa solid;
  &:first-child:hover{
    border-bottom: 3px #27ae60 solid;
  }
  &:nth-child(2):hover{
    border-bottom: 3px #3498db solid;
  }
  &:last-child:hover{
    border-bottom: 3px #8e44ad solid;
  }
}
.link__color{
  color: #000000 !important;
  padding-right: 1em !important;
  padding-left: 1em !important;
  padding-bottom: .4em;
}
.align-items{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logged-user{
  color: $blue;
}
.wrapper-list-quiz{
  background-color: $white;
  border-radius: 5px;
  .list__quiz{
    display: flex;
    flex-direction: row;
    padding: 2em;
    &-item{
      background: white;
      width: 300px;
      display: inline-block;
      margin: auto;
      border-radius: 19px;
      text-align: center;
      box-shadow: -1px 15px 30px -12px black;
      .wrapper-status{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .list__quiz-item__status{
          font-size: 14px;
          color: #28a745;
          margin-left: 2em;
        }
        .status-green {
          position: relative;
          right: 70px;
          bottom:1px;
          border: 1px solid rgb(9, 156, 107);
          background-color: rgb(71, 220, 178);
          width: 12px;
          height: 12px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
          -moz-box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
          box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
        }
      }
      button {
        outline:none;
        height: 40px;
        text-align: center;
        width: 130px;
        border-radius:40px;
        background: #fff;
        border: 2px solid $blue;
        color:$blue;
        margin-top: 5em;
        margin-bottom: 3em;
        font:{
          size:14px;
          weight:bold;
        }
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
          color:white;
          background: $blue;
        }
        &:active {
          //letter-spacing: 2px;
          letter-spacing: 2px ;
        }
      }
      &__title{
        margin-bottom: .1rem;
        margin-top: 3em;
        text-align: center;
        font-size: 18px;
      }

    }
  }
  .list_quiz__title{
    padding: 2em;
    text-align: center;
  }
}
/*
admin panel
 */

.wrapper-panel {
  background-color: $white;
}
.tab-pane-wrapper{
  text-align: center;
  font-size: 20px;
}

.status-true,
.status-false,
.status-true-profile,
.status-false-profile{
  width: 10px;
  height: 10px;
  border-radius: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.status-true-profile,
.status-false-profile {
  position: initial;
  width: 12px;
  height: 12px;

}

.status-true,
.status-true-profile{
  background: rgba(127, 185, 0, 1);
}

.status-false,
.status-false-profile{
  background: rgb(185, 18, 14);
}

.pulse {
  width: 110px;
  height: 10px;
  position: absolute;
  right: 35%;
}
.profile-pulse{
  position: absolute;
  left: 11.5%;
  top: 61.1%;
}
.fa{
  font-size: 1.2em;
  color: #363636;
}

/*
profile
 */
.wrapper-profile{
  background-color: $white;
  display: flex;
  flex-direction: row;
  height: 500px;
  .profile-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    .status-show{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      margin-top: 2em;
    }
  }
  .profile-info{
    flex-grow: 4;
  }
  .profile-avatar,
  .profile-info {
    margin: 10px;
    box-sizing: border-box;
    //background: #b2b9b4;
    padding: 10px;
  }
}
.wrapper-form-info {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  .form-wrapper {
    button {
      margin-left: 0.5em;
      margin-top: 0.5em;
    }
  }
  form {
    input {
      color: #777777;
      margin: 0.3em;
    }
  }
  &__title {
    p {
      margin-bottom: 0 !important;
      padding: 0.7em;
    }
  }
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .pulse {
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    left: 0;
  }
  .td-status{
    padding-top: 0.5rem !important;
    padding-bottom: 1rem !important;
    padding-left: 0.2rem !important;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td,th {
    padding: 0.2rem !important;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    left: 1%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .wrapper-profile{
    flex-direction: column;
  }
}

textarea{
  margin-bottom: 1em;
}
.name-quiz{
  margin-bottom: 1em;
}
li{
  list-style-type: none;
}

input[type=checkbox]{
  margin-left: 0.3em;
  line-height: 0;
}