.quizzes{

}

/*.quiz{*/
    /*width: 40%;*/
    /*margin: 0 15px 10px 0;*/
    /*display: inline-block;*/
/*}*/
.quiz-tools{
    float:right;
    position: relative;
    top: 8px;
    right: 8px;
    z-index: 2000;
}
.panel > button{
    margin-bottom: 20px;
}
#entitiesNav{
    display:none;
    background-color: white;
    position: absolute;
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
}
.disactive-layer{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.5;
    z-index: 1000;
    margin-bottom: 20px;
}
.disactive-info{
    position: relative;
    top: 100px;
    margin: 0;
    z-index: 1001;
}
.custom-search-form{
    margin-bottom: 0;
}

.questions{
    margin-bottom: 5px;
}
#quiz_save{
    margin-top: 20px;
}
.jumbotron{
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .quiz {
        width: 100%;
    } }
@media (min-width: 768px) {
    .quiz {
        width: 46%;
    } }
@media (min-width: 992px) {
    .quiz {
        width: 30%;
    } }
@media (min-width: 1200px) {
    .quiz {
        width: 30%;
    } }