{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/questions.css') }}">
{% endblock %}
   {% block section_title %}{% endblock %}
{% block section_content %}
    <div class="clearfix section-content">

        <div class="form-content main-info">
                <div class="col">
            {% block main_info %}
                {% include('questions/question_detail.html.twig') %}
            {% endblock %}
                </div>
        </div>

        <div class="form-content answers-content">
            {% block answers %}{% endblock %}
            <a href="{{ path('questions.show') }}" class="list-answers">Все ответы</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/questions.js') }}"></script>
{% endblock %}