{% extends 'base_login-system.html.twig' %}
{% block title %}Регистрация{% endblock %}
{% block body %}
    <div class="wrapper-container">
        <div class="container">
            <div class="row row-block">
                <div class="col-md-10 m-auto">
                    {{ form_start(form) }}
                    <div class="login-wrap">
                        <h2>Регистрация</h2>
                        <div class="form">
                                {{ form_row(form.username, {'attr': {'placeholder': 'Имя пользователя'}}) }}
                                {{ form_row(form.email, {'attr': {'placeholder': 'Email'}}) }}
                                {{ form_row(form.plainPassword.first, {'attr': {'placeholder': 'Пароль'}} )}}
                                {{ form_row(form.plainPassword.second, {'attr': {'placeholder': 'Повторный пароль'}}) }}
                            <button type="submit">Создать аккаунт</button>
                            <a href="{{ path('login') }}"><p>Уже есть аккаунт? Авторизация</p></a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}