{% extends 'base_login-system.html.twig' %}
{% block title %}Восстановление пароля{% endblock %}
{% block body %}
<div class="wrapper-container">
    <div class="container">
        <div class="row row-block">
            <div class="col-md-10 m-auto">
                <form>
                    <div class="login-wrap">
                        <h2>Восстановление пароля</h2>
                        <div class="form">
                            <input type="email" class="form-control" placeholder="Email">
                            <button type="submit">Восстановить</button>
                            <a href="{{ path('login') }}"><p>На страницу авторизации</p></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}