<div class="quiz">

    {% if not quiz.isActive %}
        <div class="disactive-layer">
    {% endif %}

    <div class="jumbotron">
        <h2>{{ quiz.name }}</h2>
        <p>{{ quiz.description }}</p>
        <p><a class="btn btn-primary btn-lg button-start"
              {% if not quiz.isActive %}
              disabled
              {% endif %}
              role="button">Старт</a></p>
    </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="quiz-tools mb-4">
                    <a class="btn btn-primary btn-xs" href="{{ path('quiz.update', {'id': quiz.id}) }}">
                        <i class="glyphicon glyphicon-pencil "></i>
                    </a>
                    <a class="btn btn-warning btn-xs" href="
            {% if quiz.isActive %}
                {{ path('quiz.disactivate', {'id': quiz.id}) }}
            {% else %}
                {{ path('quiz.activate', {'id': quiz.id}) }}
            {% endif %}
            ">
                        <i class="glyphicon glyphicon-lock "></i>
                    </a>
                    <a class="btn btn-danger btn-xs" href="{{ path('quiz.delete', {'id': quiz.id}) }}">
                        <i class="glyphicon glyphicon-remove "></i>
                    </a>
                </div>
            {% endif %}
    {% if not quiz.isActive %}
        </div>
    {% endif %}
</div>