{% extends 'base.html.twig' %}
{% block title %} Личный кабинет {% endblock %}
{% block main %}
    <div class="wrapper-profile">
        <div class="profile-avatar">
            <div class="main-avatar">
                <img src="{{ asset('build/static/avatar.png') }}" width="250">
            </div>
            <div class="status-show">
                {% if (users.status) == '1' %}
                    {% set status %}
                        <div class="profile-pulse" data-status="running">
                            <div class="status-true-profile">
                            </div>
                        </div>
                        <div class="show-status">
                            Активный
                        </div>
                    {% endset %}
                {% elseif (users.status) == '0' %}
                    {% set status %}
                        <div class="profile-pulse" data-status="running">
                            <div class="status-false-profile">
                            </div>
                        </div>
                        <div class="show-status">
                            Неактивный
                        </div>
                    {% endset %}
                {% endif %}
                {{ status }}
            </div>
        </div>
        <div class="profile-info">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Общая информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Изменить пароль</a>
                </li>
            </ul>
            <div class="tab-content p-2" id="myTabContent">
                <div class="tab-pane fade show active wrapper-form-profile" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="wrapper-form-info">
                        <div class="wrapper-form-info__title">
                            <p>Имя пользователя</p>
                            <p>Email</p>
                        </div>
                        <div class="form-wrapper">
                            {#{{ form_start(form, {'action': path('updateInfo',{'id': app.user.id}), 'method': 'POST'}) }}#}
                            {#{{ form_row(form.username, {'value' : app.user.username, 'attr': {'class': 'form-control'} }) }}#}
                            {#{{ form_row(form.email, {'value' : app.user.email, 'attr': {'class': 'form-control'} } )  }}#}
                            {#<button type="submit" class="btn btn-primary">Update</button>#}
                            {#{{ form_end(form) }}#}
                            {#{% if errors is defined and errors|length > 0 %}#}
                            {#{% for error in errors %}#}
                                {#<li>{{ error.message }}</li>#}
                            {#{% endfor %}#}
                            {#{% endif %}#}
                            <form action="{{ path('updateInfo',{'id': users.id}) }}" method="GET" name="updateInfo">
                                <input type="text" id="username" class="form-control" name="username" value="{{ users.username }}" required />
                                <input type="email" id="email" class="form-control" name="email" value="{{ users.email }}" required />
                                <button type="submit" class="btn btn-primary">Обновить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
            </div>
        </div>
    </div>
{% endblock %}