<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Main page{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/navbar.css') }}">
    {% block slylesheet %}{% endblock %}
</head>

<body>
<header>
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
                <div class="col">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            {{ knp_menu_render('main') }}
                        </ul>
                    </div>
                </div>
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        {% if is_granted('ROLE_USER') %}
                            <a class="dropdown-toggle custom-toggle font-weight-light logged-user" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                        {% else %}
                            <a class="dropdown-toggle custom-toggle font-weight-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anon</a>
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin') }}" class="dropdown-item">Панель администратора</a>
                                <a href="{{ path('question.create') }}" class="dropdown-item">Добавить вопросы</a>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('profile', {'slug': app.user.slug})}}" class="dropdown-item">Личный кабинет</a>
                            {% endif %}
                            {% if app.user %}
                                <a href="{{ path('logout') }}" class="dropdown-item">Выйти</a>
                            {% else %}
                                <a href="{{ path('login') }}" class="dropdown-item">Войти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}
</header>
<main role="main" class="container main">
    <div class="row">
        <div class="col-md-12 mt-5">
            {% block main %} {% endblock %}
            {% block body %}
                <div class="container">
                    <div class="col">
                    <h3>{% block section_title %}
                        {% endblock %}</h3>
                    </div>
                        <div class="col">
                        {% block section_content %}
                        {% endblock %}
                        </div>
                </div>
            {% endblock %}
        </div>
    </div>
</main>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ asset('build/js/app.js') }}"> </script>
{% endblock %}
</body>
</html>
